<div class="container">
    <div class="mt-5">
        <a href="/articles" class="btn btn-secondary">Back</a>
    </div>

    <div class="text-center">
        <h1 class="mt-5"><%= article.title %></h1>
        <h3 class="mt-2"><%= article.subtitle %></h3>
        <p class="text-muted">
            Published: <%= article.published_at %>
            <% if (article.modified_at) { %>
                | Last Edited: <%= article.modified_at %>
            <% } %>
            | Author: <%= article.author_name %>
        </p>
    </div>

    <hr>

    <div>
        <p><%- article.content %></p>
    </div>

    <div class="mt-5">
        <h2>Comments</h2>
        <form action="/articles/<%= article.id %>/comment" method="POST">
            <div class="form-group">
                <label>
                    <textarea class="form-control" name="message" rows="3" placeholder="Write a comment"></textarea>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="mt-4">
            <% if (comments.length > 0) { %>
                <% comments.forEach((comment) => { %>
                    <div class="card mt-2">
                        <div class="card-body">
                            <p class="card-text"><%= comment.message %></p>
                            <small><%= comment.created_at %></small>
                            <div class="mt-2">
                                <form action="/comments/<%= comment.id %>/edit" method="GET" style="display: inline;">
                                    <button type="" class="btn btn-primary btn-sm">Edit</button>
                                </form>
                                <form action="/comments/<%= comment.id %>/delete" method="POST"
                                      style="display: inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No comments yet.</p>
            <% } %>
        </div>
    </div>
</div>
