<div class="container">
    <div class="mt-2">
        <a href="/articles/" class="btn btn-secondary">Go to all articles</a>
    </div>

    <div class="text-center">
        <h1 class="mt-5"><%= article.title %></h1>
        <h3 class="mt-2"><%= article.subtitle %></h3>
        <p class="text-muted">
            Published: <%= article.published_at %>
            <% if (article.modified_at) { %>
                | Last Edited: <%= article.modified_at %>
            <% } %>
            | Author: <%= article.author_name %>
        </p>
    </div>

    <hr>

    <div>
        <p><%- article.content %></p>
    </div>

    <% if (article.published_at) { %>

        <div class="mt-5">
            <h2>Did you like this article?</h2>
            <div>
                <form action="/articles/<%= article.id %>/like" method="POST" class="d-inline">
                    <%= article.likes %>
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="bi bi-hand-thumbs-up-fill">Like</i>
                    </button>
                </form>
                <form action="/articles/<%= article.id %>/dislike" method="POST" class="d-inline">
                    <%= article.dislikes %>
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="bi bi-hand-thumbs-down-fill"></i> Dislike
                    </button>
                </form>
            </div>
        </div>

        <div class="mt-5">
            <h2>Comments</h2>
            <form action="/articles/<%= article.id %>/comment" method="POST">
                <div class="form-group">
                    <label>
                        <textarea class="form-control" name="message" rows="4" placeholder="Write a comment"></textarea>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div class="mt-4">
                <% if (comments.length > 0) { %>
                    <% comments.forEach((comment) => { %>
                        <%- include('../partials/comment', { comment: comment }) %>
                    <% }) %>
                <% } else { %>
                    <p>No comments yet.</p>
                <% } %>
            </div>
        </div>
    <% } %>
</div>
